body {
  background-color: #f9f7fe;
  font-family: "Roboto", sans-serif;
}
.container {
  background: white;
  max-width: 600px;
  margin: 30px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
  padding: 30px;
}
.seacrh-form-input {
  background-color: #f9f7fe;
}
