body {
  background-color: #f9f7fe;
  font-family: "Roboto", sans-serif;
}
.container {
  background: white;
  max-width: 600px;
  margin: 30px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
  padding: 30px;
}
.seacrh-form-input {
  background-color: #f9f7fe;
  border: none;
  border-radius: 6px;
  width: 80%;
  font-size: 16px;
  padding: 20px;
}
.search-form-button {
  background: #885df1;
  padding: 15px 20px;
  border: none;
  font-size: 16px;
  border-radius: 6px;
  color: white;
}
